.dark,
.dark-theme {
  --gray-1: #131314;
  --gray-2: #1a1a1b;
  --gray-3: #232324;
  --gray-4: #2a2a2b;
  --gray-5: #313133;
  --gray-6: #3a3a3c;
  --gray-7: #48484b;
  --gray-8: #5f5f63;
  --gray-9: #6e6e72;
  --gray-10: #7b7b7f;
  --gray-11: #b4b4b8;
  --gray-12: #eeeeef;
  --gray-a1: #0067bc03;
  --gray-a2: #95dff80a;
  --gray-a3: #c8ebf814;
  --gray-a4: #dcf5ff1b;
  --gray-a5: #dceefc24;
  --gray-a6: #e3f0fb2e;
  --gray-a7: #e7f0fc3e;
  --gray-a8: #ecf1fd58;
  --gray-a9: #f0f3fd68;
  --gray-a10: #f2f5fd76;
  --gray-a11: #f8f9ffb3;
  --gray-a12: #fefeffee;
  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6e6e72;
  --gray-track: #6e6e72;
}
.dark,
.dark-theme {
  --red-1: #1a1010;
  --red-2: #221212;
  --red-3: #3f0d11;
  --red-4: #570010;
  --red-5: #680517;
  --red-6: #7b1623;
  --red-7: #952732;
  --red-8: #c13442;
  --red-9: #c13442;
  --red-10: #b12235;
  --red-11: #ff8c8e;
  --red-12: #ffcfcd;
  --red-a1: #e9000006;
  --red-a2: #f212120f;
  --red-a3: #fe000d2e;
  --red-a4: #ff000b48;
  --red-a5: #fd00205b;
  --red-a6: #fd1c3970;
  --red-a7: #ff394d8c;
  --red-a8: #fe4053bc;
  --red-a9: #fe4053bc;
  --red-a10: #ff2a47aa;
  --red-a11: #ff8c8e;
  --red-a12: #ffcfcd;
  --red-contrast: #fff;
  --red-surface: #2f121280;
  --red-indicator: #c13442;
  --red-track: #c13442;
}
.light,
.light-theme,
:root {
  --red-1: #edeaea;
  --red-2: #ebe4e4;
  --red-3: #e8d7d6;
  --red-4: #ebc8c7;
  --red-5: #e6b9b8;
  --red-6: #dea9a8;
  --red-7: #d49594;
  --red-8: #c87c7b;
  --red-9: #c13442;
  --red-10: #b02436;
  --red-11: #a9182f;
  --red-12: #611d22;
  --red-a1: #8a232305;
  --red-a2: #9307070b;
  --red-a3: #ab0d031a;
  --red-a4: #d708022a;
  --red-a5: #c805013a;
  --red-a6: #b504014b;
  --red-a7: #a9050261;
  --red-a8: #9f04027c;
  --red-a9: #b40113c8;
  --red-a10: #a50116d9;
  --red-a11: #a2011be6;
  --red-a12: #4d0006e0;
  --red-contrast: #fff;
  --red-surface: #eae1e1cc;
  --red-indicator: #c13442;
  --red-track: #c13442;
}
.light,
.light-theme,
:root {
  --gray-1: #eaeaea;
  --gray-2: #e5e5e5;
  --gray-3: #dbdbdb;
  --gray-4: #d2d2d2;
  --gray-5: #cacaca;
  --gray-6: #c1c1c1;
  --gray-7: #b5b5b5;
  --gray-8: #a2a2a2;
  --gray-9: #747474;
  --gray-10: #6a6a6a;
  --gray-11: #4e4e4e;
  --gray-12: #1f1f1f;
  --gray-a1: #1b444406;
  --gray-a2: #081e1e0b;
  --gray-a3: #08121216;
  --gray-a4: #0108081f;
  --gray-a5: #03090928;
  --gray-a6: #05090932;
  --gray-a7: #0104043e;
  --gray-a8: #03040453;
  --gray-a9: #02020284;
  --gray-a10: #0001018e;
  --gray-a11: #000101ac;
  --gray-a12: #000000de;
  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #747474;
  --gray-track: #747474;
}

.default-box {
  background-color: var(--gray-2);
  border-radius: 8px;
  border-width: 1.5px;
  border-color: var(--gray-4);
  border-style: solid;
}

img{
  border-radius: 4px;
}